<label>Assign a new value to <span class="identifier">{{identifier}}</span></label>
<div class="value-input monospace theme-as-input" contenteditable data-identifier="{{identifier}}"
	data-stack-depth="{{stackDepth}}" data-cid="{{cid}}">{{currentVal}}</div>
