<div class="css-table stack-table no-max-height">
{{#each frames}}
	<div class="css-row stack-row data-file="{{ schemelessFilename }}"
		data-line="{{ lineno }}" data-stack-depth="{{ level }}">
		<div class="css-cell depth">{{ level }}</div>
		<div class="css-cell file">{{ pathlessFilename }}</div>
		<div class="css-cell line">{{ lineno }}</div>
	</div>
{{/each}}
</div>
